<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:noNamespaceSchemaLocation="settings.xsd">

    <folders target="dal" sql="sdm/sql"/>

    <dto scope="" inheritance="" field-names-mode="0" single-file=""/>

    <dao scope=""/>

    <external-vm-file path=""/>

    <ide event-log="true"/>

    <cpp class-prefix=""/>

    <jdbc jar="sdm/sqlite-jdbc-3.34.0.jar" class="org.sqlite.JDBC"
          url="jdbc:sqlite:$PROJECT_DIR$/dal/my-github.sqlite3" user="" pwd=""/>

    <type-map default="">
    </type-map>

</settings>